.a_tbdr{
    border:1px dashed #000;
}
.a_cont{
    height: 550px;

}

body{
    
}
.a_mysection{
    
    border: 10px solid #0DCAF0 !important;

}
.a_hand{
     height:150px;
     width: 400px;
     margin-top: 80px;
     margin-left: 70px;

}
.a_h33{
    height: 150px;
}
.a_1{
   width: 48px;
   height: 46px;
   border-style: outset;
   box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.8);
   
}
.a_active{
    transform: translate(2px,2px);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.8);
}

.a_circle{
    height: 11px;
    width: 11px;
}
.a_left_pinky{
    left: 208px;
    top: 49px;
    z-index: 1001;
    display: none;

}